.homePage {
  background-image: url("../../assets/background-images/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.globalContainer {
  padding: 0 165px;
  padding-top: 27%;
  display: grid;
  grid-template-columns: 540px 1fr;
}

.text {
  margin: 0;
  color: var(--color-blue-300, #d0d6f9);
  font-feature-settings: "liga" off, "clig" off;

  font-family: "Barlow";
  font-size: var(--font-size-desktop-text-preset-5, 28px);
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 4px;
}

.title {
  margin: 24px 0;

  color: var(--color-white, #fff);
  font-feature-settings: "liga" off, "clig" off;

  font-family: Bellefair;
  font-size: var(--font-size-desktop-text-preset-1, 144px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description {
  margin: 0;

  color: var(--color-blue-300, #d0d6f9);
  font-feature-settings: "liga" off, "clig" off;

  font-family: Barlow;
  font-size: var(--font-size-desktop-text-preset-9, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.button {
  display: flex;
  position: relative;
  width: 272px;
  height: 272px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--color-white, #fff);
  border: none;
  color: var(--color-blue-900, #0b0d17);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Bellefair;
  font-size: var(--font-size-desktop-text-preset-4, 32px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -50;
    left: -50;
    width: 120%;
    height: 120%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    opacity: 0;
    z-index: 1;
    animation: ripple 1.5s infinite;
    pointer-events: none;
  }

  @keyframes ripple {
    0% {
      transform: scale(0.8);
      opacity: 1;
    }
    100% {
      transform: scale(1.8);
      opacity: 0;
    }
  }
}

@media (max-width: 1200px) {
  //993
  .globalContainer {
    padding: 0 109px;
    padding-top: 35%;
    display: grid;
    grid-template-columns: 540px 1fr;
  }
}

@media (max-width: 992px) {
  //769

  .homePage {
    background-image: url("../../assets/background-images/home/background-home-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
  }

  .globalContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto auto);
    justify-items: center;
    row-gap: 66px;
  }

  .text {
    text-align: center;
  }
  .title {
    text-align: center;
  }
  .description {
    text-align: center;
  }
}

@media (max-width: 768px) {
  //577
  .globalContainer {
    padding: 0 20px;
    padding-top: 35%;
  }
}

@media (max-width: 576px) {
  .homePage {
    background-image: url("../../assets/background-images/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .globalContainer {
    padding: 0 20px;
    padding-top: 35%;
    row-gap: 80px;
  }

  .text {
    font-feature-settings: "liga" off, "clig" off;
    font-size: 16px;
    letter-spacing: 2.4px;
  }

  .title {
    font-size: 80px;
  }

  .description {
    font-size: 15px;
    line-height: 180%;
  }

  .button {
    border-radius: 50%;
    font-size: 18px;
    width: 144px;
    height: 144px;
  }
}
